*/__pycache__
__pycache__
.nfs*
liyx/
*.log
dump.rdb*
logs
nohup.out
profiles
profiles*
.ipynb_checkpoints/*
kernel/pdf_page_pixmap
kernel/pdf_process_images
popular_pdfs
assets/custom_models/*
*.DS_Store
vdbs
*.whl
user_files/